<div class='acronyms-div'>
  <div class='d-flex justify-content-between'>
    {{! List of checkbox to show/hide the columns }}
    <div class='dropdown'>
      <button
        class='btn btn-primary dropdown-toggle'
        type='button'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        Show/Hide Columns
      </button>
      <ul class='dropdown-menu' onclick='event.stopPropagation()'>
        {{#if this.columns}}
          {{#each this.columns as |column|}}
            <li>
              <button
                class='dropdown-item'
                type='button'
                {{on 'click' (perform this.toggleColumn column)}}
              >
                <input
                  type='checkbox'
                  checked={{if column.enabled true false}}
                />
                {{column.name}}
              </button>
            </li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
    <button
      class='btn btn-outline-success'
      type='button'
      {{on 'click' (perform this.searchQuery)}}
    ><b>Search</b></button>
  </div>
  {{! Actual table being rendered }}
  <div class='table-responsive'>
    <table
      class='acronyms-table table table-hover table-striped'
      style='min-width: 100%;'
    >
      <thead>
        {{! ALL THE ENABLED HEADERS }}
        <tr>
          {{#if this.columns}}
            {{#each this.columns as |column|}}
              {{#if column.enabled}}
                <th
                  role='button'
                  scope='col'
                  {{on 'click' (perform this.changeSorting column)}}
                >{{column.name}}
                  {{if
                    (eq column.property this.sorting_column)
                    (if this.sorting_ascending '^' '˅')
                    ''
                  }}
                </th>
              {{/if}}
            {{/each}}
          {{/if}}
        </tr>
        {{! ALL QUERY OF THE HEADERS }}
        <tr>
          {{#if this.columns}}
            {{#each this.columns as |column|}}
              {{#if column.enabled}}
                <th scope='col'>
                  <div style='display: flex; input-group'>
                    <Input
                      @type='text'
                      style='width: calc(100% - 30px);'
                      @value={{column.query}}
                      class='form-control'
                      {{on 'keypress' this.handleEnterKeyQuery}}
                    />
                    <button
                      style='width: 30px;'
                      disabled={{if column.query false true}}
                      class='btn btn-outline-primary'
                      type='button'
                      {{on 'click' (perform this.clearQuery column)}}
                    >X</button>
                  </div>
                </th>
              {{/if}}
            {{/each}}
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#if this.acronyms}}
          {{#each this.acronyms as |acronym|}}
            <Acronym @columns={{this.columns}} @acronym={{acronym}} />
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class='d-flex justify-content-center'>
    <div
      class='spinner-border text-primary'
      style='width: 3rem; height: 3rem; visibility:{{if
        this.update.isRunning
        "visible"
        "hidden"
      }};'
      role='status'
    >
    </div>
  </div>
  <div style='display: flex;justify-content: space-between;'>
    <div class='input-group' style='width: auto;'>
      <label class='input-group-text'>Rows:</label>
      <select
        class='form-control'
        {{on 'change' (perform this.changeDisplayPerPage)}}
      >
        <option
          value={{this.display_per_page}}
          selected
          disabled
          hidden
        >{{this.display_per_page}}</option>
        <option value='10'>10</option>
        <option value='25'>25</option>
        <option value='50'>50</option>
        {{! <option value='-1'>All</option> }}
      </select>
    </div>
    <div style='display: flex;'>
      <div class='input-group'>
        <label class='input-group-text'>Page:</label>
        <select class='form-control' {{on 'change' (perform this.changePage)}}>
          <option
            value={{this.page}}
            selected={{if this.page 'true' 'false'}}
            disabled
            hidden
          >{{this.page}}</option>
          {{#each (range 1 this.pages_count) as |index|}}
            <option value={{index}}>{{index}}</option>
          {{/each}}
        </select>
      </div>
      <div class='btn-group'>
        <button
          class='btn btn-secondary'
          disabled={{if this.has_prev false true}}
          type='button'
          {{on 'click' (perform this.first_page)}}
        >&lt;&lt;</button>
        <button
          class='btn btn-secondary'
          disabled={{if this.has_prev false true}}
          type='button'
          {{on 'click' (perform this.prev_page)}}
        >&lt;</button>
        <button
          class='btn btn-secondary'
          disabled={{if this.has_next false true}}
          type='button'
          {{on 'click' (perform this.next_page)}}
        >&gt;</button>
        <button
          class='btn btn-secondary'
          disabled={{if this.has_next false true}}
          type='button'
          {{on 'click' (perform this.last_page)}}
        >&gt;&gt;</button>
      </div>
    </div>
  </div>
</div>