<div class='acronyms-div'>
  {{! Div in top of the table }}
  <div class='d-flex justify-content-between'>
    {{! List of checkbox to show/hide the columns }}
    <div class='dropdown'>
      <button
        class='btn btn-primary dropdown-toggle'
        type='button'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        Show/Hide Columns
      </button>
      {{! List of button to show/hide }}
      <ul class='dropdown-menu' onclick='event.stopPropagation()'>
        {{#if this.columns}}
          {{#each this.columns as |column|}}
            <li class='dropdown-item'>
              <input
                id={{concat this.elementId '-column-toggle-' column.property}}
                type='checkbox'
                checked={{if column.enabled true false}}
                {{on 'click' (perform this.toggleColumn column)}}
              />
              <label
                for={{concat this.elementId '-column-toggle-' column.property}}
              >{{column.name}}</label>
            </li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
    {{! Button to update with the search queries }}
    <button
      class='btn btn-outline-success'
      type='button'
      {{on 'click' (perform this.searchQuery)}}
    ><b>Search</b></button>
  </div>
  {{! Actual table being rendered }}
  <div class='table-responsive'>
    <table class='acronyms-table table table-hover table-striped'>
      <thead>
        {{! ALL THE ENABLED HEADERS }}
        <tr>
          {{#if this.columns}}
            {{#each this.columns as |column|}}
              {{#if column.enabled}}
                <th
                  role='button'
                  scope='col'
                  {{on 'click' (perform this.changeSorting column)}}
                >{{column.name}}
                  {{if
                    (eq column.property this.sorting_column)
                    (if this.sorting_ascending '^' '˅')
                    ''
                  }}
                </th>
              {{/if}}
            {{/each}}
          {{/if}}
        </tr>
        {{! ALL QUERY OF THE HEADERS }}
        <tr>
          {{#if this.columns}}
            {{#each this.columns as |column|}}
              {{#if column.enabled}}
                <th scope='col'>
                  <div class='input-group d-flex'>
                    <label
                      for={{concat this.elementId '-query-' column.property}}
                      hidden
                    >{{column.property}} query</label>
                    <Input
                      id={{concat this.elementId '-query-' column.property}}
                      @type='text'
                      @value={{column.query}}
                      class='form-control query-text'
                      {{on 'keypress' this.handleEnterKeyQuery}}
                    />
                    <button
                      disabled={{if column.query false true}}
                      class='btn btn-outline-primary query-button'
                      type='button'
                      {{on 'click' (perform this.clearQuery column)}}
                    >X</button>
                  </div>
                </th>
              {{/if}}
            {{/each}}
          {{/if}}
        </tr>
      </thead>
      {{! All the acronyms }}
      <tbody>
        {{#if this.acronyms}}
          {{#each this.acronyms as |acronym|}}
            <Acronym @columns={{this.columns}} @acronym={{acronym}} />
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  {{! Show a spinner if update is running }}
  <div class='d-flex justify-content-center'>
    <div
      class='spinner-border text-primary'
      hidden={{(not this.update.isRunning)}}
      role='status'
    >
    </div>
  </div>
  {{! Bottom of the table }}
  <div class='d-flex justify-content-between'>
    <div class='input-group d-per-page-container'>
      {{! User can change the number of rows }}
      <label
        for={{concat this.elementId '-n-row'}}
        class='input-group-text'
      >Rows:</label>
      <select
        id={{concat this.elementId '-n-row'}}
        class='form-control'
        {{on 'change' (perform this.changeDisplayPerPage)}}
      >
        <option
          value={{this.display_per_page}}
          selected
          disabled
          hidden
        >{{this.display_per_page}}</option>
        <option value='10'>10</option>
        <option value='25'>25</option>
        <option value='50'>50</option>
        <option value='-1'>All</option>
      </select>
    </div>
    <div class='d-flex'>
      {{! User can select a specific page }}
      <div class='input-group'>
        <label
          for={{concat this.elementId '-page'}}
          class='input-group-text'
        >Page:</label>
        <select
          id={{concat this.elementId '-page'}}
          class='form-control'
          {{on 'change' (perform this.changePage)}}
        >
          <option
            value={{this.page}}
            selected={{if this.page 'true' 'false'}}
            disabled
            hidden
          >{{this.page}}</option>
          {{#each (range 1 this.page_count) as |index|}}
            <option value={{index}}>{{index}}</option>
          {{/each}}
        </select>
      </div>
      <div class='btn-group'>
        {{! First page }}
        <button
          class='btn btn-secondary'
          disabled={{if this.has_prev false true}}
          type='button'
          {{on 'click' (perform this.first_page)}}
        >&lt;&lt;</button>
        {{! Previous page }}
        <button
          class='btn btn-secondary'
          disabled={{if this.has_prev false true}}
          type='button'
          {{on 'click' (perform this.prev_page)}}
        >&lt;</button>
        {{! Next page }}
        <button
          class='btn btn-secondary'
          disabled={{if this.has_next false true}}
          type='button'
          {{on 'click' (perform this.next_page)}}
        >&gt;</button>
        {{! Last page }}
        <button
          class='btn btn-secondary'
          disabled={{if this.has_next false true}}
          type='button'
          {{on 'click' (perform this.last_page)}}
        >&gt;&gt;</button>
      </div>
    </div>
  </div>
</div>