<div class='acronyms-div'>
  <p>display_per_page: {{this.display_per_page}}</p>
  <p>page: {{this.page}}</p>
  {{! List of checkbox to show/hide the columns }}
  <div>
    <ul>
      {{#each this.columns as |column|}}
        <li>
          <button
            type='button'
            {{on 'click' (perform this.toggleColumn column.property)}}
          >
            <input type='checkbox' checked={{if column.enabled true false}} />
            {{column.name}}
          </button>
        </li>
      {{/each}}
    </ul>
  </div>
  <button {{on 'click' (perform this.update)}}>Search</button>
  {{! Actual table being rendered }}
  <table class='acronyms-table' style='box-sizing: border-box; width: 100%;'>
    <thead>
      {{! ALL THE ENABLED HEADERS }}
      <tr>
        {{#each this.columns as |column|}}
          {{#if column.enabled}}
            <th>{{column.name}}</th>
          {{/if}}
        {{/each}}
      </tr>
      {{! ALL QUERY OF THE HEADERS }}
      <tr>
        {{#each this.columns as |column|}}
          {{#if column.enabled}}
            <th>
              <div style='display: flex;'>
                <Input
                  @type='text'
                  style='width: calc(100% - 30px);'
                  @value={{column.query}}
                />
                <button
                  style='width: 30px;'
                  disabled={{if column.query false true}}
                  {{on 'click' (perform this.clearQuery column.property)}}
                >X</button>
              </div>
            </th>
          {{/if}}
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#if this.acronyms}}
        {{#each this.acronyms as |acronym|}}
          <Acronym @columns={{this.columns}} @acronym={{acronym}} />
        {{/each}}
      {{/if}}
    </tbody>
  </table>
  <div style='display:flex;'>
    <p>Items per page</p>
    <select {{on 'change' (perform this.changeDisplayPerPage)}}>
      <option
        value={{this.display_per_page}}
        selected
        disabled
        hidden
      >{{this.display_per_page}}</option>
      <option value='15'>15</option>
      <option value='25'>25</option>
      <option value='50'>50</option>
      <option value='-1'>All</option>
    </select>
  </div>
  <div style='display:flex;'>
    <label for='pages'>Pages:</label>
    <select {{on 'change' (perform this.changePage)}}>
      <option
        value={{this.page}}
        selected={{if this.page 'true' 'false'}}
        disabled
        hidden
      >{{this.page}}</option>
      {{#each (range 1 this.pages_count) as |index|}}
        <option value={{index}}>{{index}}</option>
      {{/each}}
    </select>
    <button
      disabled={{if this.has_prev false true}}
      type='button'
      {{on 'click' (perform this.first_page)}}
    >&lt;&lt;</button>
    <button
      disabled={{if this.has_prev false true}}
      type='button'
      {{on 'click' (perform this.prev_page)}}
    >&lt;</button>
    <button
      disabled={{if this.has_next false true}}
      type='button'
      {{on 'click' (perform this.next_page)}}
    >&gt;</button>
    <button
      disabled={{if this.has_next false true}}
      type='button'
      {{on 'click' (perform this.last_page)}}
    >&gt;&gt;</button>
  </div>
</div>