<div class='acronym-form'>
  {{! If we are NOT in readonly we show the error messages from the response  }}
  {{#unless @readOnly}}
    {{#each this.errors as |error|}}
      <div class='alert alert-warning' role='alert'>{{error.detail}}</div>
    {{/each}}
  {{/unless}}
  {{! In readonly every field is not editable }}
  <form {{on 'submit' (perform this.submitChanges)}}>
    {{! Not editable }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-id'}}>ID</label>
      <input
        id={{concat this.elementId '-input-id'}}
        type='number'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.id}}
      />
    </div>
    {{! If we are not in readonly it's editable and each time the user types we send the event }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-acronym'}}>Acronym</label>
      <input
        id={{concat this.elementId '-input-acronym'}}
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        value={{@acronym.acronym}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.acronym) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      />
    </div>
    {{! If we are not in readonly it's editable and each time the user types we send the event }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-meaning'}}>Meaning</label>
      <input
        id={{concat this.elementId '-input-meaning'}}
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        value={{@acronym.meaning}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.meaning) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      />
    </div>
    {{! If we are not in readonly it's editable and each time the user types we send the event }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-comment'}}>Comment</label>
      <textarea
        id={{concat this.elementId '-input-comment'}}
        type='text'
        class='form-control'
        rows='4'
        readonly={{@readOnly}}
        value={{@acronym.comment}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.comment) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      ></textarea>
    </div>
    {{! If we are not in readonly it's editable and each time the user types we send the event }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-company'}}>Company</label>
      <input
        id={{concat this.elementId '-input-company'}}
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        value={{@acronym.company}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.company) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      />
    </div>
    {{! Not editable }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-created_by'}}>Created by</label>
      <input
        id={{concat this.elementId '-input-created_by'}}
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.created_by}}
      />
    </div>
    {{! Not editable }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-created_at'}}>Created at (UTC)</label>
      <input
        id={{concat this.elementId '-input-created_at'}}
        type='datetime-local'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.created_at}}
      />
    </div>
    {{! Not editable }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-last_modified_by'}}>Last
        modified by</label>
      <input
        id={{concat this.elementId '-input-last_modified_by'}}
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.last_modified_by}}
      />
    </div>
    {{! Not editable }}
    <div class='form-group'>
      <label for={{concat this.elementId '-input-last_modified_at'}}>Last
        modified at (UTC)</label>
      <input
        id={{concat this.elementId '-input-last_modified_at'}}
        type='datetime-local'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.last_modified_at}}
      />
    </div>
    {{! If we are not in readonly we show a submit button }}
    {{#unless @readOnly}}
      <button
        class='btn btn-primary w-100'
        type='submit'
        data-bs-toggle={{if this.canSubmit 'modal' ''}}
        data-bs-target={{if this.canSubmit '#acronymFormModal' ''}}
        disabled={{if this.canSubmit false true}}
      >Submit</button>
      {{! If the submit button is pressed we show a confirmation modal. }}
      <div
        class='modal fade'
        id='acronymFormModal'
        tabindex='-1'
        aria-labelledby='acronymFormModalLabel'
        aria-hidden='true'
      >
        <div class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5
                class='modal-title'
                id='acronymFormModalLabel'
              >Confirmation</h5>
              <button
                type='button'
                class='btn-close'
                data-bs-dismiss='modal'
                aria-label='Close'
              ></button>
            </div>
            <div class='modal-body'>
              <AcronymForm @readOnly={{true}} @acronym={{@acronym}} />
            </div>
            <div class='modal-footer'>
              <button
                type='button'
                class='btn btn-secondary'
                data-bs-dismiss='modal'
              >Close</button>
              <button
                type='button'
                class='btn btn-primary'
                data-bs-dismiss='modal'
                {{on 'click' (perform this.confirmSubmit)}}
              >Confirm</button>
            </div>
          </div>
        </div>
      </div>
    {{/unless}}
  </form>
</div>