<div class='acronym-form'>
  <p>{{this.elementId}}</p>
  {{#unless @readOnly}}
    {{#each this.errors as |error|}}
      <div class='alert alert-warning' role='alert'>{{error.detail}}</div>
    {{/each}}
  {{/unless}}
  <form {{on 'submit' (perform this.submitChanges)}}>
    {{!-- {{#if @readOnly}} --}}
    <div class='form-group'>
      <label for=''>ID</label>
      <input
        type='number'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.id}}
      />
    </div>
    {{!  }}
    <div class='form-group'>
      <label for=''>Acronym</label>
      <input
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        value={{@acronym.acronym}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.acronym) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      />
    </div>
    <div class='form-group'>
      <label for=''>Meaning</label>
      <input
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        value={{@acronym.meaning}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.meaning) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      />
    </div>
    <div class='form-group'>
      <label for=''>Comment</label>
      <textarea
        type='text'
        class='form-control'
        rows='4'
        readonly={{@readOnly}}
        value={{@acronym.comment}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.comment) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      ></textarea>
    </div>
    <div class='form-group'>
      <label for=''>Company</label>
      <input
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        value={{@acronym.company}}
        {{on
          'input'
          (optional
            (if @readOnly null (action (mut this.company) value='target.value'))
          )
        }}
        {{on
          'input'
          (optional (if @readOnly null (perform this.submitChanges)))
        }}
      />
    </div>
    {{!  }}
    {{!  }}
    {{!  }}
    {{!  }}
    <div class='form-group'>
      <label for=''>Created by</label>
      <input
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.created_by}}
      />
    </div>
    <div class='form-group'>
      <label for=''>Created at (UTC)</label>
      <input
        type='datetime-local'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.created_at}}
      />
    </div>
    <p>{{@acronym.created_at}}</p>
    <div class='form-group'>
      <label for=''>Last modified by</label>
      <input
        type='text'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.last_modified_by}}
      />
    </div>
    <div class='form-group'>
      <label for=''>Last modified at (UTC)</label>
      <input
        type='datetime-local'
        class='form-control'
        readonly={{@readOnly}}
        disabled={{not @readOnly}}
        value={{@acronym.last_modified_at}}
      />
    </div>
    {{#unless @readOnly}}
      <button
        style='width: 100%;'
        class='btn btn-primary'
        type='submit'
        data-bs-toggle={{if this.canSubmit 'modal' ''}}
        data-bs-target={{if this.canSubmit '#acronymFormModal' ''}}
        disabled={{if this.canSubmit false true}}
      >Submit</button>
      <div
        class='modal fade'
        id='acronymFormModal'
        tabindex='-1'
        aria-labelledby='acronymFormModalLabel'
        aria-hidden='true'
      >
        <div class='modal-dialog' style='max-width: 1000px;'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5
                class='modal-title'
                id='acronymFormModalLabel'
              >Confirmation</h5>
              <button
                type='button'
                class='btn-close'
                data-bs-dismiss='modal'
                aria-label='Close'
              ></button>
            </div>
            <div class='modal-body'>
              <AcronymForm @readOnly={{true}} @acronym={{@acronym}} />
            </div>
            <div class='modal-footer'>
              <button
                type='button'
                class='btn btn-secondary'
                data-bs-dismiss='modal'
              >Close</button>
              <button
                type='button'
                class='btn btn-primary'
                data-bs-dismiss='modal'
                {{on 'click' (perform this.confirmSubmit)}}
              >Confirm</button>
            </div>
          </div>
        </div>
      </div>
    {{/unless}}
  </form>
</div>