{{page-title 'Acronym'}}

<div class='container'>
  <h1>Acronym</h1>
  <AcronymForm @acronym={{@model}} @readOnly={{true}} />
  {{! Show a button to edit this acronym }}
  <LinkTo
    @route='authenticated.edit'
    @model={{@model}}
    class='btn btn-success'
    role='button'
  >Edit</LinkTo>
  {{! Show a delete button }}
  {{! If the user is NOT authenticated we disable the button }}
  <button
    style='margin-top: 10px;'
    class='btn btn-outline-danger'
    data-bs-toggle='modal'
    data-bs-target='#deleteModal'
    type='button'
    disabled={{if this.session.isAuthenticated false true}}
  >Delete
    {{#unless this.session.isAuthenticated}}
      <b>(Require logging in)</b>
    {{/unless}}
  </button>
  {{! This is the confirmation to delete the acronym }}
  <div
    class='modal fade'
    id='deleteModal'
    tabindex='-1'
    aria-labelledby='deleteModalLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='deleteModalLabel'>Are you sure you want to
            delete this acronym ?</h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >Close</button>
          <button
            type='button'
            class='btn btn-danger'
            data-bs-dismiss='modal'
            {{on 'click' (perform this.deleteAcronym)}}
          >Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>