{{page-title 'Reports'}}
<div class='container'>
  {{! Button to create a report }}
  {{! If the user is not autenticated the button is disabled }}
  <button
    class='btn btn-success'
    data-bs-toggle='modal'
    data-bs-target='#reportModal'
    type='button'
    disabled={{if this.session.isAuthenticated false true}}
  >Create new report
    {{#unless this.session.isAuthenticated}}
      <b>(Require logging in)</b>
    {{/unless}}</button>
  {{! List of all reports with their version and for how long it's been created }}
  <h1>All reports:</h1>
  <div class='list-group flex-column-reverse'>
    {{#if @model}}
      {{#each @model as |report|}}
        <div class='list-group-item d-flex justify-content-between'>
          <h3>
            <span class='badge rounded-pill text-bg-primary'>
              v{{report.id}}
            </span>
          </h3>
          <h3 class='report-created-at'>{{moment-from-now
              (utc report.created_at)
            }}</h3>
          {{! Donwload button to download the zip file }}
          <button
            class='btn btn btn-outline-success'
            type='button'
            {{on 'click' (perform this.downloadVersion report.id)}}
          >Download</button>
        </div>
      {{/each}}
    {{else}}
      <div class='alert alert-info' role='alert'>
        There is currently no reports.
      </div>
    {{/if}}
  </div>
</div>
{{! This is the confirmation to create a new report }}
<div
  class='modal fade'
  id='reportModal'
  tabindex='-1'
  aria-labelledby='reportModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='reportModalLabel'>Are you sure you want to
          create a new report.</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
        <button
          type='button'
          class='btn btn-primary'
          data-bs-dismiss='modal'
          {{on 'click' (perform this.createReport)}}
        >Create</button>
      </div>
    </div>
  </div>
</div>